MONGODB_URI=mongodb://localhost:27017/tourist_routes
PORT=4000
JWT_ACCESS_SECRET=change-this-access-secret
JWT_REFRESH_SECRET=change-this-refresh-secret
YANDEX_MAPS_API_KEY=your-yandex-maps-api-key
YANDEX_ROUTER_BASE_URL=https://api.routing.yandex.net/v2/route

